* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: center;
    margin: 25px;
    font-family: 'Comic Sans MS';
    margin-bottom: 5%;
  }

  .h-chiken {
    background-color: #f3e8ae;
  }

  .h-beef{
    background-color: #d43800;
    color: azure;
  }

  .h-fish{
    background-color: #b6b7e0;
  }

  h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
    border: 1px solid black;
    width: 150px;
    float:right;
    margin-bottom: 10px;
  }

  p {
    clear: both;
    width: 90%;
    height: 135px;
    margin: 20px;
    font-family: 'Comic Sans MS';
    overflow: hidden;
  }
 
  .box {
    border: 1px solid black;
    background-color: lightgray;
    margin: 15px;
  }
  
  .row {
    width: 100%;
    justify-content: center; 
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 30%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 46%;
    }
    .col-md-12 {
      width: 95%;
    }
  }